.btn {
  @apply py-1 px-2 bg-gray-500 text-white font-semibold rounded-lg shadow-md
  text-center
  hover:bg-gray-700
  focus:outline-none
  focus:ring-2
  focus:ring-gray-400
  focus:ring-opacity-75;
}

.btn.primary {
  @apply bg-blue-500 text-white
  hover:bg-blue-700
  focus:ring-blue-400;
}

.btn.success {
  @apply bg-green-500 text-white
  hover:bg-green-700
  focus:ring-green-400;
}

.btn.danger {
  @apply bg-red-500 text-white
  hover:bg-red-700
  focus:ring-red-400;
}

input {
  @apply rounded border border-gray-200 outline-none px-1
  focus:ring-2
  focus:ring-gray-400
  focus:ring-opacity-75;
}
